.App {
  font-family: "Titillium Web", sans-serif;
}
span {
  color: #2026d2;
  font-weight: bold;
}
.display-3 {
  font-size: 3rem;
  font-weight: bold;
}
.content {
  font-size: 1.05rem;
}
.buttonUpload {
  background-color: #2026d2;
  color: #fafbfc;
}

.buttonUpload:hover {
  background-color: #2026d2;
  transition: 100ms;
}
.buttonStop {
  background-color: #fafbfc;
  color: #2026d2;
  border: 1px solid #2026d2;
}
.buttonStop:hover {
  background-color: #2026d2;
  transition: 100ms;
}
